body {
  color: white;
  background-color: #1b2431;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 12pt;
  font-weight: bold;
  box-sizing: border-box;
  height:100vh;
  width:100vw;
  margin:0;
}
div{
  box-sizing: border-box
}

.headerBackColor{
  background-color: #303c4e;
  color:#8190a5
}

.text {
  box-sizing: border-box;
  padding: 10px;
  padding-top:50px;
  cursor: move;
  overflow: hidden;
}
.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
  box-sizing: border-box;
  overflow: hidden;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.react-grid-placeholder {
  background: red;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.drag-me {
  cursor: move;
}
.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 5px;
  height: 5px;
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.react-grid-item {
  background-color: #273142;
  border: 2px solid #2c3648;
  border-radius: 5px;
  margin: 10px;
}
#messages-list {
  overflow-y: scroll;
  max-height: 500px;
}

input{
  background-color: transparent;
  border:none;
  width:100%;
  box-sizing:border-box;
  color:white;
  padding:10px;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15pt;

}
input:focus{
  outline: none
}

#container {
  display: flex;
  
  box-sizing: border-box;
}

#new-message {
 

  width: 100%;

  
  color:white;

  box-sizing: border-box;
 
}
#messages-list {
 padding:5px;
 display:flex;
  flex-direction: column; 
  
}
#sidebar {
  
  justify-content: flex-start;
 
  
  color: white;
  text-align:center
}
*/



.banner-container {
  width: 100%;
  background-color: blue;
}
.banner {
  width: 150px;
  text-align: center;
  flex-direction: row;
}

td.MuiTableCell-root-139{
  border-bottom-width: 0;
  width:10px;
   text-align: center
}
th.MuiTableCell-head-140{
  text-align: center;
  padding:0
 
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  
}

/* Track */
::-webkit-scrollbar-track {
  
   background: #273142; 
   padding:5px
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: #8393a8; 
  border-radius: 10px;
 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 
  background: #8393a8; 
}




.flex-container{
  display:flex;
  flex-direction:column;
 
  flex-wrap:nowrap; 
  height:100%;
  width:100%;
  padding:0;
  justify-content: stretch;
}

.flex-container-upper{
  display:flex;
  
  flex-wrap:nowrap; 
  
  width:100%;
  padding:0px 10px 0px 10px;
  justify-content: space-between;
  flex:1
}

.flex-container-lower{
  display:flex;

  flex-wrap:nowrap; 

  color:white;
  width:100%;
  padding:0px 10px 10px 10px;
  justify-content: space-between;
  
 
}



.flex-item-main{ 
  padding:10px;
  text-align: left;
  border: 1px solid #2c3648;
  background-color:#1b2431;
flex:3
  
}
.flex-item-side{
  flex:1;
  text-align: left;
  background-color: #303c4e;
  background-color: lightgrey 
}
.flex-item-lower{
  background-color: lightgrey;
  color:#303c4e;
  padding:40px;
  width:100%;
  border-top: 1px solid #2c3648;
}

p.MuiFormHelperText-root-185{
  color:#8190a5
}

.menu-bar{
 display:flex;
 flex-direction: row;
 flex:1;
 justify-content: space-between;
 align-items: center;
 padding:5px 40px 5px 40px
}

.menu-bar-right{
  display:flex;
  flex-direction: row;
  flex:1;
  justify-content: flex-end;
  align-items: center;
  
}

.menu-bar-center{
  display:flex;
  flex:1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.menu-bar-left{
  display:flex;
  flex:1;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  
}

.green-dot{
  height: 10px;
  width: 10px;
  background-color:#33FF7A ;
  border-radius: 50%;
  
}
